{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% endcompress %}

  {% block title %}<title>CMDR APP</title>{% endblock %}
</head>

<body>
  <h1 class="text-3xl text-green-800">Django + Tailwind CSS + Flowbite</h1>
  {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  <script src="{% static 'js/flowbite.min.js' %}"></script>
</body>
</html>
